html {
	padding: 0;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}


.flexCon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #31343F;
	min-height: 100vh;
}


.instructions {
	color: #DD98F2;
}

